In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r'D:\CODE\Notebooks\notebooks\archive\Tips.csv')

In [6]:
df.head(10)

   SINO  TotalBill  Tips Smoker  Day    Time  Size  Gender
0     1      16.99  1.01     No  Sun  Dinner   2.0  Female
1     2      10.34  1.66     No  Sun  Dinner   3.0    Male
2     3      21.01  3.50     No  Sun  Dinner   3.0    Male
3     4      23.68  3.31     No  Sun  Dinner   2.0    Male
4     5      24.59  3.61     No  Sun  Dinner   4.0  Female
5     6      25.29  4.71     No  Sun  Dinner   4.0    Male
6     7       8.77  2.00     No  Sun  Dinner   2.0    Male
7     8      26.88  3.12     No  Sun  Dinner   4.0    Male
8     9      15.04  1.96     No  Sun  Dinner   2.0    Male
9    10      14.78  3.23     No  Sun  Dinner   2.0    Male

In [8]:
df.shape

(100, 8)

In [10]:
df.isna().sum()

SINO         0
TotalBill    2
Tips         6
Smoker       7
Day          7
Time         3
Size         1
Gender       7
dtype: int64

In [12]:
q3 = df["TotalBill"].quantile(0.75)
maximum = df["TotalBill"].max()